.breadcrumbs {
    display: inline-block;
    margin-top: 44px;
    margin-left: 75px;
}

.breadcrumbs__list {
    display: inline-block;
}

.breadcrumbs__item {
    list-style-type: none;
    display: inline-block;
}

.comments__list {
    list-style-type: none;
}

.aside {
    float: left;
}

.main {
    float: left;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}


/* start commented backslash hack \*/

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}


/* close commented backslash hack */