.breadcrumbs {
    display: inline-block;
    margin-top: 44px;
    margin-left: 75px;
}

.breadcrumbs__list {
    display: inline-block;
}

.breadcrumbs__item {
    list-style-type: none;
    display: inline-block;
    font-family: 'GothamPro-Italic';
    font-size: 14px;
    font-weight: 400;
    /* color: #ec1e79; */
}

.breadcrumbs__item:after {
    content: " /";
}

.breadcrumbs__item--noslash:after {
    content: "";
}

.breadcrumbs__home {
    font-family: 'GothamPro-Italic';
    font-size: 14px;
    font-weight: 400;
    color: #ec1e79;
    text-decoration: underline;
}

.comments__list {
    list-style-type: none;
}

.aside {
    float: left;
}

.main {
    float: left;
}

.maincontent__nav {
    margin-top: 54px;
    margin-left: -20px;
}

.maincontent__content {
    margin-top: 29px;
}

.maincontent__breadcrumbs {
    display: inline-block;
    margin-left: -41px;
}

.breadcrumbs__list {
    display: inline-block;
}

.breadcrumbs__item {
    display: inline-block;
}

.comments__content {
    display: inline-block;
    vertical-align: top;
}

.comments__logo-picture {
    height: 160px;
    width: 160px;
    border-radius: 50%;
}

.splitter {
    width: 100%;
    margin-top: 44px;
}

.splitter__logo {
    width: 100%;
}

.splitter__content {
    margin-left: 150px;
    color: #fff;
    text-align: left;
}

.news__list {
    margin-top: 45px;
}

.news__content {
    margin-top: -22px;
}

.pagination {
    margin-top: 25px;
    margin-left: -57px;
}

.form {
    margin-top: 21px;
}

.form__content {
    background: #f5f5f5;
    height: 427px;
    width: 700px;
    padding-left: 70px;
    padding-top: 50px;
    margin: auto;
}

.form__content form label {
    font-family: "GothamPro-Light";
    font-size: 14px;
    font-weight: 300;
}

.form__name,
.form__vk,
.form__showphoto,
.form__submit {
    display: inline-block;
}

.form__title {
    font-family: "GothamPro-Bold";
    font-size: 49px;
    font-weight: 300;
}

.form__showphoto,
.form__submit {
    vertical-align: middle;
}

.form__input {
    margin-top: 9px;
    height: 45px;
    width: 269px;
    border-radius: 5px;
    border-color: transparent;
}

.form__input:focus {
    border: 1px #b12167 solid;
    border-color: transparent;
}

.form__vk {
    margin-left: 20px;
}

.row {
    margin-top: 22px;
}

.form__textarea {
    height: 90px;
    width: 561px;
    resize: none;
}

.form__radio {
    margin-top: 10px;
    padding-left: 20px;
    vertical-align: text-bottom;
}

.radio__text {
    padding-left: 5px;
}

.submit__btn {
    color: #fff;
    background: #27273e;
    height: 45px;
    width: 139px;
    border: transparent;
    border-radius: 5px;
    font-family: "GothamPro-Bold";
    font-size: 12px;
    font-weight: 700;
}

.form__submit {
    padding-left: 233px;
}

.form__radio-margin {
    margin-left: 20px;
}

.footer {
    margin-top: 77px;
}

.nav__link--main {
    background-image: url("/img/aside/notactive/triangle.png");
    background-repeat: no-repeat;
    text-decoration: none;
    color: #b02167;
    filter: brightness(100%);
}

.nav__link--main:hover {
    filter: brightness(0);
}

.nav__link--comments {
    background-image: url("/img/aside/notactive/star.png");
    background-repeat: no-repeat;
    filter: brightness(0%);
    text-decoration: underline;
}