.form__content {
    background: #f5f5f5;
    width: 700px;
    height: 427px;
    padding-top: 16px;
}

.form__container {
    margin-left: 91px;
}

.form__title {
    font-family: "GothamPro-Bold";
    font-size: 49px;
    font-weight: 700;
    padding-left: 67px;
    padding-top: 40px;
}

.row {
    vertical-align: middle;
}

.form__name,
.form__vk {
    display: inline-block;
}

.form__vk {
    margin-left: 20px;
}

.row {
    font-family: "GothamPro-Light";
    font-size: 14px;
    font-weight: 300;
    margin-top: 17px;
    margin-left: 12px;
    margin-left: 70px;
}

.row input[type="text"] {
    width: 269px;
    height: 45px;
    border-radius: 5px;
    padding-left: 7px;
}

.row input:focus {
    border: 2px solid #ed3888;
    outline: none !important;
}

.input__container {
    margin-top: 10px;
}

.form__text {
    resize: none;
    height: 90px;
    width: 561px;
    border-radius: 5px;
    margin-top: 7px;
}

.form__text:focus {
    border: 2px solid #ed3888;
    outline: none !important;
}

.form__submit-button {
    width: 139px;
    height: 45px;
    background: #27273e;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: "GothamPro-Bold";
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.4px;
}

.row__photo {
    display: inline-block;
}

.form__submit {
    display: inline-block;
    margin-left: 214px;
}