.header {
    min-height: 68px;
    width: 100%;
    background: #27273e;
}

.header__column {
    width: 50%;
    float: left;
    padding-top: 4px;
}

.header__column-right {
    text-align: right;
}

.header__logo {
    padding-left: 19px;
}

.header__phone {
    text-decoration: none;
    color: #fff;
    font-family: 'GothamPro-Bold';
    font-size: 21px;
}

.header__dropdown {
    text-align: right;
    color: #b02167;
    text-decoration: underline;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.header__dropdown:hover {
    color: #7378a8;
}

.header__dropdown:hover+div {
    display: block;
}