html,
body {
    height: 100%;
    width: 100%;
}

.intro {
    position: relative;
    background: url('./img/intro/1.png') center center no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.intro__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.intro__animation {
    animation: logo-anim 0.8s;
}

.intro__logo {
    margin-bottom: 35px;
}

.intro__btn {
    display: block;
    font-size: 12px;
    color: rgb(236, 30, 121);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 13px 20px;
    border: 3px solid #ec1e79;
    transition: 0.3s;
    font-family: "GothamPro-Bold";
    font-size: 12px;
    font-weight: 700;
    outline: none;
}

.intro__btn-container:hover .intro__btn {
    color: rgb(255, 255, 255);
    background-color: rgb(236, 30, 121);
}