ul {
    list-style-type: none;
}

.wrapper {
    width: 100%;
}

.header {
    background: #27273e;
    min-height: 77px;
}

.header__container {
    margin: auto;
    width: 1100px;
}

.header__column {
    display: inline;
    float: left;
    width: 50%;
    vertical-align: middle;
}

.header__column-right {
    text-align: right;
    color: #fff;
}

.header__logo {
    padding-top: 8px;
    padding-left: 12px;
}

.header__column-right {
    padding-right: 21px;
    display: inline;
    text-align: right;
}

.banner {
    margin: auto;
    width: 100%;
    background: #27273e;
    margin-bottom: 50px;
}

.nav__list li :after {
    content: "";
    background-image: url("../img/aside/notactive/triangle.png") left no-repeat;
    padding-right: 8px;
}