.nav__item {
    /* width: 20%; */
    padding-bottom: 30px;
    text-transform: uppercase;
}

.nav__link {
    text-decoration: none;
    font-family: "GothamPro-Bold";
    font-size: 12px;
    font-weight: 700;
    color: #ec1e79;
    display: block;
    height: 20px;
}

.nav__link:hover {
    color: #000;
}

.nav__link:before {
    content: "";
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 19px;
}

.nav__link:hover:before {
    content: "";
    height: 20px;
    width: 20px;
    filter: brightness(0%);
    display: inline-block;
    vertical-align: middle;
}

.nav__link--main-fp {
    background-image: url("/img/aside/notactive/triangle.png");
    filter: brightness(0%);
    background-repeat: no-repeat;
    text-decoration: underline;
}

.nav__link--comments-fp {
    background-image: url("/img/aside/notactive/star.png");
    background-repeat: no-repeat;
}

.nav__link--comments-fp:hover {
    filter: brightness(0%);
}

.nav__link--costs {
    background-image: url("/img/aside/notactive/wallet.png");
    background-repeat: no-repeat;
}

.nav__link--costs:hover {
    filter: brightness(0%);
}

.nav__link--main {
    background-image: url("/img/aside/notactive/triangle.png");
    /* filter: brightness(0%); */
    background-repeat: no-repeat;
    /* text-decoration: underline; */
}

.nav__link--main:hover {
    filter: brightness(0%);
}

.nav__link--comments {
    background-image: url("/img/aside/notactive/star.png");
    background-repeat: no-repeat;
    text-decoration: underline;
    filter: brightness(0%);
}

.nav__link--costs-active {
    background-image: url("/img/aside/notactive/wallet.png");
    background-repeat: no-repeat;
    text-decoration: underline;
    filter: brightness(0%);
    color: #000;
}

.nav__link--costs {
    background-image: url("/img/aside/notactive/star.png");
    background-repeat: no-repeat;
    text-decoration: none;
    /* filter: brightness(0%); */
}